{% extends 'base.html.twig' %}

{% block title %}Add activity
{% endblock %}

{% block body %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Activity</th>
                <th scope="col">Distance</th>
                <th scope="col">Duration</th>
                <th scope="col">kcal</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <th scope="row">{{ record.id }}</th>
                    <td>{{ record.type }}</td>
                    <td>{{ record.distance / 100 }} km</td>
                    <td>{{ record.duration|date('H:i:s') }}</td>
                    <td>{{ record.kcal }}</td>
                    <td>{{ record.date|date('Y-m-d') }}</td>
                    <td><a href="{{ path('update.edit', {'id' : record.id}) }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Modify</a>
                        <a href="{{ path('update.remove', {'id' : record.id}) }}" class="btn btn btn-danger btn-secondary btn-lg active" role="button" aria-pressed="true">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
